.navigation {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #252525;
    padding-left: 50px;
}

.navigation_logo {
    width: 150px;
    object-fit: contain;
}

.navigation_option {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-right: 15px;
    color: white;
}

.navigation_optionLineOne {
    font-size: 11px;
    color: lightgrey;
}

.navigation_optionLineTwo {
    font-size: 13px;
    font-weight: bolder;
}

.navigation_optionCart {
    display: flex;
    align-items: center;
    color: white;
}

.navigation_cartCount {
    margin-left: 10px;
    margin-right: 10px;
}

.navigation a:hover {
    text-decoration: none;
}

.navigation_search {
    width: 68%;
}

@media screen and (max-width: 1199px) {
    .navigation {
        display: flex;
        align-items: flex-start;
    }

    .navigation_search {
        width: 100%;
        text-align: center;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 30px !important;
    }

    .navigation_option {
        display: flex;
        flex-direction: row;
        justify-content: left;
        color: white;
    }

    .navigation_optionLineOne {
        font-size: 1rem;
    }
    
    .navigation_optionLineTwo {
        font-size: 1rem;
        margin-left: 5px;
    }

    .navigation_optionCart {
        margin-left: 10px;
    }

    .navigation_nav {
        display: flex;
        justify-content: left;
    }
}

