.payment {
    background-color: white;
}

.payment_container > h1 {
    text-align: center;
    background-color: #464646;
    padding: 20px;
    font-weight: 500;
    border-bottom: 1px solid gray;
    color: white;
}

.payment_container > h1 a {
    text-decoration: none;
}

.payment_container > h1 a:hover {
    font-weight: bolder;
}

.payment_container > h1 a:visited {
    text-decoration: none;
    color: white;
}

.payment_section {
    display: flex;
    padding: 20px;
    margin: 0 20px;
    border-bottom: 1px solid lightgray;
}

.payment_title {
    flex: 0.2;
    margin-right: 20px;
}

.payment_address, .payment_items, .payment_details {
    flex: 0.8;
}

.payment_details > form {
    max-width: 350px;
}

.payment_orderTotal {
    padding-top: 10px;
    padding-bottom: 10px;
}

.payment_details > form > div > button {
    background: #f0c14b;
    width: 100%;
    height: 50px;
    font-weight: bolder;
    margin-top: 10px;
    color: #111;
}